@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: white; 
}

p, ul, li {
    font-family: "Roboto", sans-serif;
}

.top5 {
    font-family: "Oswald";
    font-size: 24px;
}

.header {
    font-family: "Oswald";
    font-size: 20px;
    text-align: center;
}

.navbar-wrapper {
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-background {
    width: 100%;
    height: 40px; 
    background-color: black;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 9px;
}

.navbar-center {
    background-color: red;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.navbar-center .home-button {
    color: white;
    font-family: "College", sans-serif;
    font-size: 29px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1px 2px;
    margin: 0;
}

.navbar-center .home-button:hover {
    background-color: white;
    color: red;
}

.navbar-bottom {
    background-color: black;
    text-align: center;
    border-bottom: 1px solid blue;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.navbar-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.navbar-bottom ul li {
    margin: 0 15px; 
}

.navbar-bottom ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    font-family: "College", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.navbar-bottom ul li a:hover {
    background-color: blue;
}

.blue-bar {
    background-color: blue;
    height: 4px;
    width: 100%;
}

.content {
    padding: 20px;
    text-align: center;
    font-size: 17px;
}

h1 {
    font-size: 29px;
    color: white; 
    font-family: "Oswald", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 29px;
    color: white;
    font-family: "Oswald";
    text-align: center;
    margin-bottom: -10px;
}

h3 {
    font-size: 29px;
    color: white;
    font-family: "Oswald";
    text-align: center;
}

h4 {
    text-align: center;
    font-family: "Oswald";
    font-size: 24px;
}

.kuva {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h5 {
    font-size: 29px;
    color: white;
    font-family: "Oswald";
    text-align: center;
}

p, ul {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; 
    font-family: "Roboto";
}

ul li {
    margin-left: 20px; 
}

@media screen and (max-width: 600px) {
    .navbar-top ul li, .navbar-bottom ul li {
        display: block;
        text-align: center;
    }

    .navbar-top ul li a, .navbar-bottom ul li a {
        display: block;
        padding: 10px;
    }

    .about {
        padding: 15px;
    }
}
.oswald-<otsikkoteksti> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } 
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'College';
    src: url('fontit/College.woff2') format('woff2'),
         url('fontit/College.woff') format('woff'),
         url('fontit/College.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}  



.content-wrapper {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h5 {
    text-align: left;
    font-size: 28;
    margin-bottom: 20px; 
    color:white;
    padding-left: 585px;
}

h6 {
    padding-top: 50px;
    font-family: "Roboto";
    font-size: 20px;
}

.name-split {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.name-field {
    flex: 1;
    margin: 0 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 150px; 
}

.contact-row,
input[type="email"],
textarea {
  margin-bottom: 50px; 
}

button {
    width: 150px;
    padding: 10px;
    margin-top: 50px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    align-self: center; 
}




